<!-- bookReturnResult.mustache -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Books Result</title>
    <link rel="stylesheet" type="text/css" href="/dashboard-style.css">
    <script src="./routes/memberDashboard.js" defer></script>
</head>
<body>
  <header>
    <h1>Member Dashboard</h1>
    <nav>
      <ul>
        <li><a href="/memberDashboard">Home</a></li>
        <li><a href="/profile/member">Profile</a></li>
        <li><a href="/CheckOutBook">Check Out Book</a></li>
        <li><a href="/ReturnBook">Return Book</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <p>{{message}}</p>
    {{#messageData}}
      <p>Name: {{name}}</p>
      <p>Title: {{title}}</p>
      
    {{/messageData}}
  </main>
</body>
</html>
