<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style>
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}


p {
  color: red;
}

  </style>
</head>
<body>
  <h1>Error</h1>
  
  {{#error}}
    <p style="color: red;">{{error}}</p>
  {{/error}}


  </form>
</body>
</html>
