<header>
    <h1>Management System</h1>
    <nav>
      <ul>
        <li><a href="/adminDashboard">Home</a></li>
        <li><a href="/profile/admin">Profile</a></li>
        <li><a href="/books">Register Books</a></li>
        <li><a href="/viewAllBook">View All Books</a></li>
        <li><a href="/users">View All Users</a></li>
        <li><a href="/report"> Report</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>