<!-- bookReturn.mustache -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Books</title>
    <link rel="stylesheet" type="text/css" href="/dashboard-style.css">
    <script src="./routes/memberDashboard.js" defer></script>
</head>
<body>
  <header>
    <h1>Member Dashboard</h1>
    <nav>
      <ul>
        <li><a href="/memberDashboard">Home</a></li>
        <li><a href="/profile/member">Profile</a></li>
        <li><a href="/CheckOutBook">Check Out Book</a></li>
        <li><a href="/ReturnBook">Return Book</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <p>Return Books</p>
    <form action="/ReturnBook" method="post">
      <input type="hidden" name="action" value="return">
      <!-- New input fields for name and title -->
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
      <button type="submit">Return</button>
    </form>
  </main>
</body>
</html>
